root = true

[*]
indent_style = tab
tab_width = 4
end_of_line = lf
charset = utf-8
draw_white_space = all
trim_trailing_whitespace = true
trim_trailing_white_space_on_save = true
insert_final_newline = true
