.faq {
	padding: 75px 0;
}

.question-block {
	margin: 40px 10px;
}

.question-block .question {
    font-weight: 550;
    font-size: 18px;
}

.question-block .answer {
    color:rgba(0,0,0,.65);
    font-weight: 200;
    font-size: 16px;
    letter-spacing: .5px;
	line-height: 1.5;
}
