.glimpses-carousel {
	padding: 75px 0;
	position: relative;
	overflow: hidden;
	height: 700px;
	background-color: #fbfbfb;
}

@media screen and (max-width: 980px) {
	.glimpses-carousel {
		height: 630px;
	}
}

@media screen and (max-width: 500px) {
	.glimpses-carousel {
		height: 500px;
	}
}

.glimpses__container {
	position: absolute;
	left: 50%;
	margin: 25px 0;
}

.glimpses__container .glimpse {
	position: absolute;
	top: 0;
	width: 500px;
	/* padding: 0 20px; */
	transition: left .8s cubic-bezier(.19,1,.22,1), opacity .8s cubic-bezier(.19,1,.22,1);
}

@media screen and (max-width: 980px) {
	.glimpses__container .glimpse {
		width: 425px;
	}
}

@media screen and (max-width: 500px) {
	.glimpses__container .glimpse {
		width: 90vw;
		max-width: 280px;
	}
}

.glimpse .thumb {
	text-align: center;
}

.glimpse .thumb img {
	min-height: 200px;
	max-height: 360px;
}

.glimpse .progress-bar {
	margin: 10px 0;
	height: 5px;
	width: 0;
	background-color: #EF2F3C;
	border-radius: 2.5px;
}

.glimpse--focus {
	left: -250px;
}

@media screen and (max-width: 980px) {
	.glimpse--focus {
		left: -212.5px;
	}
}

@media screen and (max-width: 500px) {
	.glimpse--focus {
		left: -140px;
	}
}

.glimpse--focus .thumb {
	opacity: 1;
}

.glimpse--focus .progress-bar {
	animation: progress 3s linear backwards;
}

@keyframes progress {
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}

.glimpse--previous {
	left: 370px;
}

@media screen and (max-width: 980px) {
	.glimpse--previous {
		left: 232.5px;
	}
}

@media screen and (max-width: 500px) {
	.glimpse--previous {
		left: 160px;
	}
}

.glimpse--next {
	left: -870px;
}

@media screen and (max-width: 980px) {
	.glimpse--next {
		left: -657.5px;
	}
}

@media screen and (max-width: 500px) {
	.glimpse--next {
		left: -440px;
	}
}

.glimpse--previous .thumb, .glimpse--next .thumb {
	opacity: 0.7;
}

.glimpse--hidden-left {
	left: -200vw;
	opacity: 0;
}

.glimpse--hidden-right {
	left: 200vw;
	opacity: 0;
}
