/* The progress container (grey background) */
.progress-container {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #f1f1f1;
    height: 5px;
    background: #f1f1f1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 5px;
    background: #485bc2;
    width: 0%;
}
